.custom-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  color: white;
}

.radio{
    margin: 10px 10px 10px 10px;
}

.directions {
  
  padding: 55px;
  border-radius: 10px;
  background-color: white;
}

.submit-btn {
    margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: #3b3939;
  color: White;
  padding: 10px;
  font-weight: 700;
}
