.nav{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.nav > a, nav button{
    margin: 0 25px;
}

.logo {
    height: 20vh
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
}

.pill{
    background-color: #696969;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    border: none;
    margin-right: 40px;
    text-decoration: none;
}